extends ../../home/views/navbar.pug

block content
    link(rel="stylesheet" href="/stylesheets/studentpetition.css")
    link(rel="stylesheet" href="/stylesheets/w3school.css")

    <div id="background" class="blur"></div>
        <div id="conta1" class = "container w3-animate-bottom">
        h3 Petitions:
        
        </div>