#container2{
    margin: 5px 10px;
    /* position: relative; */
    height: 25%;
    width: 20%;
    /* z-index: 10; */
    border-radius: 10px;
    border: 3px solid;
    padding:8px 5px;
    border-color:transparent;
    background-color:grey;
    filter: opacity(73%);
    color: black;
}