@font-face{ 
    font-family: myFrostys; 
    src: url("/fonts/Frostys.ttf");
} 
@font-face{ 
    font-family: myAcid; 
    src: url("/fonts/Acid.ttf");
} 
@font-face{ 
    font-family: myElegantLight; 
    src: url("/fonts/ElegantLight.ttf");
} 

.navbar-brand{
    font-size: 25;
    font-family: myFrostys;
    color: antiquewhite;
}

.navbar-nav{
    font-family: myAcid;
    font-size: 19;
}

#navtextaccount{
    color: whitesmoke;
    font-size: 13.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand:hover{
    color:palegoldenrod;
}

.nav-link{
    color: antiquewhite;
    font-size: 19;
}

.nav-link:hover{
    color:palegoldenrod;
}

#login{
    position:right;
    color:yellow;
}

#login:hover{
    color: palegoldenrod;
}

.carousel {
    width:900px;
    height:450px;
}

.carousel-item {
    height: 470px;
    width: 900px;
  }
  
.item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
      object-fit:cover;
      height:300px !important;
      width:350px;
}

.card{
    /* background-color: */
    color: #B22222;
}

.card-header{
   font-size: 29;
   background-color: transparent;
}

.text-mutedd{
    font-size: 22;
    color: #B22222;
}

