extends ../../home/views/navbar.pug

block content
    h2 Organization/Student Council Schedule (Create, Update)
    <a href="/orgcouncil/schedule/addschedule" id="buttonAddClass" class="btn btn-primary" position="left" style="background-color:#B22222;color:whitesmoke;border:none;">Add a Schedule</a>