extends ../../home/views/navbar.pug

block content
   
    
    link(rel="stylesheet" href="/stylesheets/admin.css")
    link(rel="stylesheet" href="/stylesheets/adminorgcouncil.css")

    <h2>&nbsp Petition</h2>
    