extends ../../../templates/master.pug

block body
    //--Stylesheets, scripts, etc..--//
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/jquery/jquery-3.2.1.slim.min.js"></script>
    <script src="/assets/popper/popper.min.js"></script>

    link(rel="stylesheet" href="/stylesheets/home.css")
    link(rel="stylesheet" href="/stylesheets/homemodal.css")

    //--Navigation Bar
    <nav class="navbar navbar-expand-lg sticky-top" style="background-color:#B22222;font-family:myFrostys;">
    <a class="navbar-brand" href="/home">
        <img src="/icons/calendar.jpeg" width="30" height="30" class="d-inline-block align-top" alt="irregular please icon"> Irregular Please</a>
            <a class="nav-link" href="/home">Home </a>
            <a class="nav-link" href="">Information</a>
            <a class="nav-link" href="">About Us</a>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
    <span class="navbar-text" id="navtextaccount">Do you have an account?
    </span>
    <ul class="navbar-nav" >
        <li class="nav-item">
        <a class="nav-link" href="#" id="login" data-toggle="modal" data-target="#myModal">Login</a>
        </li>
    </ul>

    
    <ul class="navbar-nav" >
        <li class="nav-item">
        <a class="nav-link" href="/signup" id="signup">Sign Up</a>
        </li>
    </ul>
    </div>
    </nav>

    
        <div class="row">
            //- <div class="col">1 of 3 </div>
            <div class="col">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/carousel/life3.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                    <img class="d-block w-100" src="/carousel/road3.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                    <img class="d-block w-100" src="/carousel/absent3.jpg" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col"></br></br></br></br>
        <div class="card border-light mb-3" style="max-width: 25rem;max-height:30rem;">
            <div class="card-header" style="font-family:myFrostys;">Irregular Please</div>
            <div class="card-body text-dark">
                <h4 class="card-title"><u>Made by students, for the students.</u></h4>
                <p class="card-text">Success consists of going from failure to failure, without loss of enthsiasm.</p>
                <p style="text-align:right" class="card-text">-Winston Churchill</p>
            </div>
            </div>       
        </div>
        </div>
    
    
        
        
    



    //- <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            
    //-                 <div class="loginmodal-container">
    //-                     <button type="button" class="close" data-dismiss="modal">x</button>
    //-                     <h1>Login to Your Account</h1><br>
    //-                 <div class="modal-body">
    //-                     <form method="post" action='' name="login_form">
    //-                     <p><input type="text" class="span3" name="eid" id="email" placeholder="Email"></p>
    //-                     <p><input type="password" class="span3" name="passwd" placeholder="Password"></p>
    //-                     <p><button type="submit" class="btn btn-primary">Sign in</button>
    //-                         <a href="#">Forgot Password?</a>
    //-                     </p>
    //-                     </form>
    //-                 </div>
                        
    //-                 <div class="login-help">
    //-                     <a href="#">Register</a> - <a href="#">Forgot Password</a>
    //-                 </div>
    //-                 </div>
        
    //- </div>


    //- <div class="container" id="modal-login">
    //-     <div class="row">
    //-         <div class="modal hide" id="myModal">
    //-         <div class="modal-header">
    //-             <h3>Login to your Account</h3>
    //-             <button type="button" class="close" data-dismiss="modal">x</button>
    //-         </div>
    //-         <div class="modal-body">
    //-             <form method="post" action='' name="login_form">
    //-             <p><input type="text" class="span3" name="eid" id="email" placeholder="Email"></p>
    //-             <p><input type="password" class="span3" name="passwd" placeholder="Password"></p>
    //-             <p><button type="submit" class="btn btn-primary">Sign in</button>
    //-                 <a href="#">Forgot Password?</a>
    //-             </p>
    //-             </form>
    //-         </div>
    //-         <div class="modal-footer">
    //-             New To MyWebsite.com?
    //-             <a href="#" class="btn btn-primary">Register</a>
    //-         </div>
    //-         </div>
    //-     </div>
    //- </div>

    <div class="container" id="modalLogin">
            <div class="modal hide" id="myModal">
            <div class="modal-header">
                <img rel="image" src="/icons/login.png" style="width:40px;height:40px;">&nbsp;
                <h3 style="color:black;">Login</h3>
                <button type="button" class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">
                <form method="POST" action='home' name="login_form">
                    <div class="form-group">
                    <p>&nbsp;<i class="fa fa-id-card fa-2x" aria-hidden="true" ></i>&nbsp;&nbsp;<input type="text" name="user_studno" id="modalstudno" class="form-control float-right col-md-10" placeholder="Student No(ex:2015-12345-MN-1)" required></p>
                    </div>
                    <p>&nbsp;&nbsp; <i class="fa fa-unlock-alt fa-2x" aria-hidden="true"></i>&nbsp; &nbsp;<input type="password" name="user_password" id="modalemail" class="form-control float-right col-md-10" placeholder="Password" size=33 required></p>
                    <p><button type="submit" id="modalbutton" class="btn btn-primary float-right" position="right" style="background-color:#B22222;color:whitesmoke;border:none;">Sign in</button></p>
                </form>
            </br>
            </br>
            </div>
            <div class="modal-footer float-right">Don't have an account yet? <a href="/signup" class="Register" style="color:#B22222;"> Register</a>
            </div>
            </div>
    </div>